body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    border: 2px solid #0491a5;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.filled-square {
    background: #d9fbff;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    /*display: flex;*/
    /*flex-direction: row;*/
}

.game-info {
    margin-top: 20px;
}

.game-board {
    max-width: fit-content;
    margin: 100px auto;
    border: 5px solid #0491a5;
}
#root {
}
